
.quantity-div {

    display: flex;
    background: var(--light-grayish-blue);
    align-items: center;
    border-radius: 10px;
    padding: 0;
    margin-right: 1rem;
}


.img {

    background: transparent;
    margin: 1.35rem 1rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

.img:hover {

    opacity: 0.6;
}

.quantity {

    color: var(--black);
    font-family: boldFont;
    margin: 0.5rem 1.7rem;
 
  
}