

.div {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.cartBox {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.8rem;
    position: relative;

}


.cart {

 width: 1.5rem;
 height: 1.3rem;
 fill: var(--dark-grayish-blue);
 cursor: pointer;
 transition: fill 0.3s;
 
}

.cart:hover  {

    fill: var(--black);
    
}

.cartActive {

    fill: var(--black);
}

.cart-count {

    position: absolute;
    background: var(--orange);
    color: white;
    font-family: regularFont;
    font-size: 0.8rem;
    bottom: 50%;
    left: 50%;
    border-radius: 10px;
    height: 1.5rem;
    padding: 0.3rem;
   text-align: center;

}

.cart-count-hide {

    display: none;
}

.avatar {

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    
}

.avatar:hover {

    border: 2px solid var(--orange);
}

.cont {

    background: red;
   
}